body{
  
}

.jumbotron .container{
  text-align: center;
}

.jumbotron {
  /* padding: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
}

.jumbotron .container h2 {
  /*color: white;*/
  text-align: center;
}
.jumbotron .container button {
  text-align: center;
}
.question-image {
	margin-bottom: : 1px;
}
.answer {
	padding-top: 3px;
	padding-left: 14px;
	background-color: white;
	height: 45px;
	color: black;
	border-radius: 4px;
}